.stack-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  gap: 20px;
  justify-content: center;
  justify-items: center;
}

.stack-item {
  width: 150px;
  border: 1px solid #333;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  transition: 0.2s ease;
}

.stack-item:hover {
  border-color: #2563eb;
}

.icon {
  font-size: 26px;
}
